@import 'nebular/themes';
@import 'vars/index';

// .column-container {
//   margin-left: 15vw;
//   margin-right: 15vw;
// }

// .dialog-actions {
//   margin: 0;
// }

// .form-group {
//   nb-select {
//     padding: 0;
//   }
// }

// .button-back {
//   cursor: pointer;
// }

// .form-inline {
//   label {
//     margin: auto inherit auto inherit;
//     justify-content: start;
//   }

nb-select {
  padding: 0;
}
// }

// // ::ng-deep nb-auth .nb-theme-default nb-card-header {
// //   display: none !important;
// // }
// // ::ng-deep nb-auth .navigation .link nb-icon {
// //   display: none !important;
// // }
