<nb-card>
  <nb-card-header>
    <div class="image" [style.backgroundImage]="backgroundImage"></div>

    <div class="title p-t-lg">
      <h3 class="typo-card-type">
        {{ replaceAccents('EVENTS_AND_NEWS.' + getPostType(post) | translate) }}
      </h3>
      <h2 class="typo-card-title">
        {{ post.title }}
      </h2>
    </div>
  </nb-card-header>
  <nb-card-body>
    <!-- <p class="line-clamp">
      {{ post.description | content_translate }}
    </p> -->
  </nb-card-body>
  <nb-card-footer>
    <ng-container *ngIf="isEventPost(post)">
      <div class="where_when" *ngIf="post.when">
        <nb-icon icon="calendar-outline" class="m-r-xxs"></nb-icon>
        {{ post.when | date }}
      </div>
      <div class="where_when m-l-md" *ngIf="post.where">
        <nb-icon icon="pin-outline" class="m-r-xxs"></nb-icon>
        {{ post.where }}
      </div>
    </ng-container>
  </nb-card-footer>
</nb-card>
