@import '../../app.component.scss';

.upload-img-btn {
  margin-left: 10px;
}
.form {
  .upload {
    margin-top: 20px;
  }
  &-group {
    .preview {
      position: relative;

      &-image {
        width: 200px;
      }

      &-cancel {
        position: absolute;
        top: -20px;
        right: -20px;
      }
    }
  }
}
