@import 'nebular/themes';
@import 'vars/index';

nb-card-header {
  position: relative;

  nb-badge {
    text-transform: capitalize;
  }
}

nb-card:hover {
  cursor: pointer;
}

.image {
  height: 200px;
  background-size: cover;
}

:host ::ng-deep {
  nb-card-header {
    padding: 0;
    border-color: transparent;

    .typo-card-type {
      line-height: 14px !important;
    }
  }

  nb-card-body {
    padding: 0;
    flex: 0;
    max-height: 100px;
    overflow: hidden;
  }

  nb-card-footer {
    border-color: transparent;
    padding: 0;
  }
}
