<nb-card>
  <nb-card-header>
    <div class="image" [style.backgroundImage]="backgroundImage"></div>
    <!-- <div class="image" [style.backgroundImage]="post.image_url"></div> -->

    <div class="title p-t-lg">
      <h3 class="typo-card-type">
        {{ getPostType(post) }}
      </h3>
      <h2 class="typo-card-title">
        {{ post.title }}
      </h2>
    </div>
  </nb-card-header>
  <nb-card-body>
    <!-- <p class="line-clamp">
      {{ post.description  }}
    </p> -->
  </nb-card-body>
  <nb-card-footer>
    <ng-container *ngIf="isEventPost(post)">
      <span *ngIf="post.when">
        <nb-icon icon="calendar-outline" class="m-r-xxs"></nb-icon>
        {{ post.when | date }}
      </span>
      <span class="m-l-md" *ngIf="post.where">
        <nb-icon icon="pin-outline" class="m-r-xxs"></nb-icon>
        {{ post.where }}
      </span>
    </ng-container>
  </nb-card-footer>
</nb-card>
