@import 'vars/index';
.main-menu {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 80px;
  background: #fff;
  border-top: $header-footer-border;
  background-color: $header-footer-background-color;
  z-index: 99;
}

:host ::ng-deep {
  nb-action.active {
    nb-icon {
      color: $col-purple !important;
    }
  }
  nb-action:hover {
    cursor: pointer;
    a {
      width: 100%;
      text-align: center;
    }
    nb-icon {
      color: $col-purple !important;
    }
  }
}
