<!-- <nb-actions class="main-menu" size="small" size="medium" fullWidth>
  <nb-action
    fullWidth
    icon="home-outline"
    link="/"
    [ngClass]="{ active: isPageActive('/') }"
    nbPopover="{{ 'HEADER.About' | translate }}"
    nbPopoverTrigger="hint"
    nbPopoverPlacement="top"
  ></nb-action>
  <nb-action
    fullWidth
    icon="file-text-outline"
    link="/posts"
    [ngClass]="{ active: isPageActive('/posts') }"
    nbPopover="{{ 'HEADER.Posts' | translate }}"
    nbPopoverTrigger="hint"
    nbPopoverPlacement="top"
  ></nb-action>
  <nb-action
    fullWidth
    icon="calendar-outline"
    link="/contact"
    [ngClass]="{ active: isPageActive('/contact') }"
    nbPopover="{{ 'HEADER.Courses' | translate }}"
    nbPopoverTrigger="hint"
    nbPopoverPlacement="top"
    >Contact</nb-action
  >
</nb-actions> -->
<nb-actions class="main-menu" size="small" size="medium" fullWidth>
  <!--<nb-action *ngFor="let item of items" fullWidth icon="calendar-outline" link="/contact"
    [ngClass]="{ active: isPageActive('/contact') }" nbPopover="{{ 'HEADER.Courses' | translate }}"
    nbPopoverTrigger="hint" nbPopoverPlacement="top">Contact</nb-action>-->
  <nb-action
    *ngFor="let item of items"
    fullWidth
    icon="{{ item.icon }}"
    link="{{ item.link }}"
    [ngClass]="{ active: isPageActive(item.link) }"
    [nbPopover]="item.title"
    nbPopoverTrigger="hint"
    nbPopoverPlacement="top"
  ></nb-action>
</nb-actions>
