<div class="post-dialog">
  <div class="post-container">
    <div class="post-content">
      <nb-card>
        <nb-card-header>
          <nb-icon icon="close-circle-outline" (click)="closeDialog()">
          </nb-icon>
          <div class="title p-t-lg">
            <h3 class="typo-card-type">
              {{
                replaceAccents(
                  'EVENTS_AND_NEWS.' + getPostType(post) | translate
                )
              }}
            </h3>
            <h2 class="typo-card-title">
              {{ post.title }}
            </h2>
          </div>
          <div class="image" [style.backgroundImage]="backgroundImage"></div>
        </nb-card-header>
        <nb-card-body>
          <div class="editor-content" [innerHTML]="post.description"></div>
        </nb-card-body>
        <nb-card-footer>
          <ng-container *ngIf="isEventPost(post)">
            <div class="where_when" *ngIf="post.when">
              <nb-icon icon="calendar-outline" class="m-r-xxs"></nb-icon>
              {{ post.when | date }}
            </div>
            <div class="where_when m-l-md" *ngIf="post.where">
              <nb-icon icon="pin-outline" class="m-r-xxs"></nb-icon>
              {{ post.where }}
            </div>
          </ng-container>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
</div>
