<!-- <div #contentToConvert>Some content here</div>

<button (click)="generatePdf(contentToConvert)">Generate PDF</button> -->
<button
  type="button"
  class="button-delete col-md-3 offset-md-9"
  nbButton
  fullWidth
  outline
  status="warning"
  (click)="onClickExport(contentToConvert)"
>
  Export To PDF
</button>
