@import '../../../app.component.scss';

// .form-control {
//   margin: 0 0.5%;
// }

// .form-group {
//   label {
//     display: block;
//     width: x;
//     height: y;
//     text-align: left;
//   }
// }
