<div *ngIf="user$ | async as user; else loading">
  <nb-icon
    icon="arrow-back-outline"
    [options]="{ animation: { type: 'zoom' } }"
    (click)="onClickBack()"
  ></nb-icon>

  <!--begin::Card-->
  <nb-card>
    <!--begin::Card Header-->
    <nb-card-header>
      <h6>Administrator (ID: {{ user.id }})</h6>
    </nb-card-header>
    <!--end::Card Header-->

    <!--begin::Card Body-->
    <nb-card-body class="container">
      <div #contentToConvert>
        <br />
        <div class="row">
          <div class="col-md-6">
            <h6 class="col-md-3">Fullname</h6>
            <p>{{ user.name }}</p>
          </div>
          <div class="col-md-6">
            <h6 class="col-md-3">Email</h6>
            <p>{{ user.email }}</p>
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-md-6">
            <h6 class="col-md-3">Category</h6>
            <p>{{ user.category | user_pipe: 'category' }}</p>
          </div>
          <div class="col-md-6">
            <h6 class="col-md-3">Date of Birth</h6>
            <p>{{ user.profile.dateOfBirth | date }}</p>
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-md-6">
            <h6 class="col-md-3">Phone</h6>
            <p>{{ user.profile.phone }}</p>
          </div>
        </div>
      </div>

      <hr />

      <!--begin::Preview Actions-->
      <div class="preview-actions">
        <button
          type="button"
          class="button-warning col-md-3 offset-md-9 mb-2"
          nbButton
          fullWidth
          outline
          status="success"
          (click)="onClickEdit(user.id)"
          (keyup.enter)="onClickEdit(user.id)"
        >
          Edit
        </button>
        <pdf-download [contentToConvert]="contentToConvert"></pdf-download>
        <!-- <button type="button" *ngIf="incident" disabled="loading" class="button-delete col-md-3 offset-md-9" nbButton
          fullWidth outline status="danger" (click)="onClickDelete()">
          Delete
        </button> -->
        <!-- <button type="button" class="button-delete col-md-3 offset-md-9" nbButton fullWidth outline status="danger"
          (click)="onClickExportToPDF(user.id)" disabled nbTooltip="Export to PDF will be available soon"
          nbTooltipPlacement="bottom" nbTooltipStatus="warning">
          Export To PDF
        </button> -->
      </div>
      <!--end::Preview Actions-->
    </nb-card-body>
    <!--end::Card Body-->
  </nb-card>
  <!--end::Card-->
</div>

<ng-template #loading>
  <admin-page-loading></admin-page-loading>
</ng-template>

<!--begin::Delete Dialog-->
<ng-template class="dialog" #delete_dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="dialog-title"
      >Are you sure you want to delete Course {{ data.slug }}?</nb-card-header
    >
    <nb-card-footer class="dialog-actions container row">
      <div class="col-md">
        <button
          type="button"
          class="dialog-button button-dismiss mb-2"
          nbButton
          fullWidth
          outline
          status="warning"
          (click)="ref.close(false)"
        >
          Cancel
        </button>
      </div>
      <div class="col-md">
        <button
          type="button"
          class="dialog-button button-delete"
          nbButton
          fullWidth
          outline
          status="danger"
          (click)="ref.close(true)"
        >
          Delete
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
<!--end::Delete Dialog-->

<!--begin::Response Dialog-->
<ng-template class="dialog" #response_dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="dialog-title">{{ data.title }}</nb-card-header>
    <nb-card-body class="dialog-content">
      {{ data.message }}
    </nb-card-body>
    <nb-card-footer class="dialog-actions container justify-content-center row">
      <div class="col-md-5">
        <button
          type="button"
          class="dialog-button button-close"
          nbButton
          fullWidth
          outline
          status="primary"
          (click)="ref.close()"
        >
          OK
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
<!--end::Response Dialog-->
