@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

@import '../vars/index';

// List of theme variable
// https://akveo.github.io/nebular/docs/design-system/default-theme
// To overide component, go to theme tab of the component like
// https://akveo.github.io/nebular/docs/components/card/theme#nbcardcomponent
$nb-themes: nb-register-theme(
  (
    // COLOR PRIMARY
      // Done with https://colors.eva.design
      color-primary-100: #f9ceeb,
    color-primary-200: #f3a0e0,
    color-primary-300: #dd6ccc,
    color-primary-400: #bb43b4,
    color-primary-500: $col-purple,
    color-primary-600: #6f0f7a,
    color-primary-700: #540a66,
    color-primary-800: #3d0652,
    color-primary-900: #2d0444,
    color-primary-transparent-100: rgba(140, 21, 143, 0.08),
    color-primary-transparent-200: rgba(140, 21, 143, 0.16),
    color-primary-transparent-300: rgba(140, 21, 143, 0.24),
    color-primary-transparent-400: rgba(140, 21, 143, 0.32),
    color-primary-transparent-500: rgba(140, 21, 143, 0.4),
    color-primary-transparent-600: rgba(140, 21, 143, 0.48),
    color-basic-500: $col-black,
    // CARD
      card-margin-bottom: $dim-md,
    card-border-color: transparent,
    // TABSET
      tabset-tab-text-font-family: $font-family-raleway,
    tabset-tab-text-font-size: $font-size-medium,
    tabset-tab-text-font-weight: $font-weight-medium,
    tabset-tab-text-transform: capitalize,
    tabset-divider-color: transparent,
    // LAYOUT
      header-shadow: none,
    header-background-color: $header-footer-background-color,
    layout-padding: $dim-xs,
    layout-background-color: white
  ),
  default,
  default
);
