@import '../../../app.component.scss';

::ng-deep .connection-chat {
  position: fixed;
  width: 60%;
  height: 80%;
  right: 20px;
  padding: 1m;
}

::ng-deep .connection-list {
  position: fixed;
  width: 20%;
  height: 80%;
  padding: 1m;
}

.users-list {
  padding-left: 50px;

  &-item:hover {
    cursor: pointer;
  }
}
