.center {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-30%);

  h5 {
    text-align: center;
  }
}

.bar_chart {
  display: block;
  width: 85%;
  margin: auto;
}
