<!-- <section class="container-fluid">
  <div class="row">
    <admin-post-card *ngFor="let post of posts$ | async" [post]="post"
      [routerLink]="['/posts/edit/' + post.type + '/' + post.id]" class="col-md-4">
    </admin-post-card>
  </div>
</section> -->

<div *ngIf="posts$ | async as posts; else loading">
  <div *ngIf="posts.length; else noItems">
    <section class="container-fluid">
      <div class="row">
        <admin-post-card
          *ngFor="let post of posts"
          [post]="post"
          [routerLink]="['/posts/edit/' + post.type + '/' + post.id]"
          class="col-md-4"
        >
        </admin-post-card>
      </div>
    </section>
  </div>
</div>

<ng-template #noItems>
  <admin-page-no_content type="Post"></admin-page-no_content>
</ng-template>
<ng-template #loading>
  <admin-page-loading></admin-page-loading>
</ng-template>
