<div *ngIf="examinations$ | async as examinations; else loading">
  <div *ngIf="examinations.length; else noItems">
    <nb-card size="small">
      <nb-card-header>
        <nb-select
          class="col-md-3 offset-md-9"
          placeholder="Select Beneficiary"
          (selectedChange)="setSelectedUser($event)"
        >
          <nb-option value="0" selected>All</nb-option>
          <nb-option *ngFor="let user of users$ | async" value="{{ user.id }}">
            {{ user.name }}</nb-option
          >
        </nb-select>
      </nb-card-header>
      <nb-card-body>
        <nb-list class="items-list">
          <nb-list-item
            *ngFor="let examination of examinations | filter_pipe: userID"
          >
            <div class="col-md-10 items-card">
              <nb-user
                size="medium"
                [name]="examination.title"
                [title]="examination.beneficiary.name"
                [showInitials]="false"
                (click)="onClickPreview(examination)"
              >
              </nb-user>
            </div>
            <div class="col-md-2">
              <nb-actions [size]="small">
                <nb-action
                  class="items-list-action"
                  icon="edit-outline"
                  iconStatus="warning"
                  (click)="onClickEdit(examination)"
                  nbTooltip="Edit"
                  nbTooltipPlacement="top"
                  nbTooltipStatus="warning"
                >
                </nb-action>
                <!-- <nb-action class="items-list-action" icon="archive-outline" status="info"
                  (click)="onClickExportToPDF(examination)" nbTooltip="Export to PDF (available soon)"
                  nbTooltipPlacement="top" nbTooltipStatus="info"></nb-action> -->
              </nb-actions>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<ng-template #noItems>
  <admin-page-no_content type="Examination"></admin-page-no_content>
</ng-template>
<ng-template #loading>
  <admin-page-loading></admin-page-loading>
</ng-template>
<!-- <nb-card *ngFor="let incident of incidents$ | async">
  <nb-card-header>
    {{ incident.title }}
    <span [style.color]="red"
      >({{ incident.beneficiary.id }})
    </span>
    <a [routerLink]="['/incidents/preview/' + incident.id]">
      <nb-icon nbTooltip="Preview Incident" icon="edit-outline"></nb-icon>
    </a>
  </nb-card-header>
</nb-card> -->
