<div style="text-align: center">
  <img
    class="logo"
    style="height: 75px"
    src="assets/desic-logo.png"
    title="{{ logoLegend }}"
    alt="{{ logoLegend }}"
  />
</div>

<div class="nb-auth">
  <h3 id="title" class="title">Forgot Password</h3>
  <p class="sub-title">
    Enter your email address and we’ll send a link to reset your password
  </p>

  <nb-alert
    *ngIf="showMessages.error && errors?.length && !submitted"
    outline="danger"
    role="alert"
  >
    <p class="alert-title"><b>Oh snap!</b></p>
    <ul class="alert-message-list">
      <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
    </ul>
  </nb-alert>

  <nb-alert
    *ngIf="showMessages.success && messages?.length && !submitted"
    outline="success"
    role="alert"
  >
    <p class="alert-title"><b>Hooray!</b></p>
    <ul class="alert-message-list">
      <li *ngFor="let message of messages" class="alert-message">
        {{ message }}
      </li>
    </ul>
  </nb-alert>

  <form
    (ngSubmit)="requestPass()"
    #requestPassForm="ngForm"
    aria-labelledby="title"
  >
    <div class="form-control-group">
      <label class="label" for="input-email">Enter your email address:</label>
      <input
        nbInput
        [(ngModel)]="user.email"
        #email="ngModel"
        id="input-email"
        name="email"
        pattern=".+@.+\..+"
        placeholder="Email address"
        autofocus
        fullWidth
        [status]="email.dirty ? (email.invalid ? 'danger' : 'success') : ''"
        [required]="getConfigValue('forms.validation.email.required')"
        [attr.aria-invalid]="email.invalid && email.touched ? true : null"
      />
      <ng-container *ngIf="email.invalid && email.touched">
        <p class="error-message" *ngIf="email.errors?.required">
          Email is required!
        </p>
        <p class="error-message" *ngIf="email.errors?.pattern">
          Email should be the real one!
        </p>
      </ng-container>
    </div>

    <button
      nbButton
      fullWidth
      status="success"
      [disabled]="submitted || !requestPassForm.valid"
      [class.btn-pulse]="submitted"
    >
      Request password
    </button>
  </form>

  <section class="sign-in-or-up" aria-label="Sign in or sign up">
    <p><a class="text-link" routerLink="../login">Back to Log In</a></p>
    <!-- <p><a routerLink="../register" class="text-link">Register</a></p> -->
  </section>

  <admin-version></admin-version>
</div>
