<!--begin::Card-->
<nb-card>
  <!--begin::Card Header-->
  <nb-card-header> </nb-card-header>
  <!--end::Card Header-->

  <!--begin::Card Body-->
  <nb-card-body class="container">
    <!--begin::Form-->
    <form [formGroup]="contactForm" class="form">
      <div class="row">
        <div class="col-md-12">
          <!--begin::Form Group "Email"-->
          <div class="form-group">
            <label for="email">Your Email</label>
            <input
              id="email"
              class="form-control"
              nbInput
              fullWidth
              placeholder="Email"
              formControlName="email"
            />
          </div>
          <!--end::Form Group "Email"-->
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <!--begin::Form Group "Description"-->
          <div class="form-group">
            <label for="description">Your Message</label>
            <textarea
              id="description"
              rows="10"
              class="form-control"
              nbInput
              fullWidth
              placeholder="Description"
              formControlName="description"
            >
            </textarea>
          </div>
          <!--end::Form Group "Description"-->
        </div>
      </div>

      <hr />

      <div class="form-actions">
        <button
          type="button"
          class="button-save col-md-3 offset-md-9 mb-2"
          [disabled]="sending"
          nbButton
          fullWidth
          outline
          status="success"
          (click)="onFormSubmit()"
          (keyup.enter)="onFormSubmit()"
        >
          Send
        </button>
      </div>
    </form>
    <!--end::Form-->
  </nb-card-body>
  <!--end::Card Body-->
</nb-card>
<!--end::Card-->

<ng-template class="dialog" #response_dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="dialog-title">{{ data.title }}</nb-card-header>
    <nb-card-body class="dialog-content">
      {{ data.message }}
    </nb-card-body>
    <nb-card-footer class="dialog-actions container justify-content-center row">
      <div class="col-md-5">
        <button
          type="button"
          class="dialog-button button-close"
          nbButton
          fullWidth
          outline
          status="primary"
          (click)="ref.close()"
        >
          OK
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
