<nb-card size="small">
  <nb-card-header> </nb-card-header>
  <nb-card-body>
    <!-- <div *ngIf="combined$ | async as items; else loading;"> -->
    <!-- <div *ngIf="((incidents$ | async as incidents) && (examinations$ | async as examinations)) && 
            (sessions$ | async as sessions); else loading;"> -->
    <div
      *ngIf="
        {
          incidents: incidents$ | async,
          examinations: examinations$ | async,
          sessions: sessions$ | async
        } as items;
        else loading
      "
    >
      <div *ngIf="items && items.incidents && items.incidents.length">
        <nb-list class="items-list">
          <nb-list-item *ngFor="let incident of items.incidents">
            <div class="col-md-10 item-card">
              <nb-user
                size="medium"
                name="Incident | {{ incident.title }}"
                [title]="incident.incidentDate | date"
                [showInitials]="false"
                (click)="onClickPreview('incident', incident)"
              >
              </nb-user>
            </div>
            <!-- <div class="col-md-2">
              <nb-actions [size]="small">
                <nb-action class="items-list-action" icon="archive-outline" status="info"
                  (click)="onClickExportToPDF('incident', incident)" nbTooltip="Export to PDF (available soon)"
                  nbTooltipPlacement="top" nbTooltipStatus="info"></nb-action>
              </nb-actions>
            </div> -->
          </nb-list-item>
        </nb-list>
      </div>

      <div *ngIf="items && items.examinations && items.examinations.length">
        <nb-list class="items-list">
          <nb-list-item *ngFor="let examination of items.examinations">
            <div class="col-md-10 item-card">
              <nb-user
                size="medium"
                name="Examination | {{ examination.title }}"
                [title]="examination.examinationDate | date"
                [showInitials]="false"
                (click)="onClickPreview('examination', examination)"
              >
              </nb-user>
            </div>
            <!-- <div class="col-md-2">
              <nb-actions [size]="small">
                <nb-action class="items-list-action" icon="archive-outline" status="info"
                  (click)="onClickExportToPDF('examination', examination)" nbTooltip="Export to PDF (available soon)"
                  nbTooltipPlacement="top" nbTooltipStatus="info"></nb-action>
              </nb-actions>
            </div> -->
          </nb-list-item>
        </nb-list>
      </div>

      <div *ngIf="items && items.sessions && items.sessions.length">
        <nb-list class="items-list">
          <nb-list-item *ngFor="let session of items.sessions">
            <div class="col-md-10 item-card">
              <nb-user
                size="medium"
                name="Session | {{ session.title }}"
                [title]="session.sessionDate | date"
                [showInitials]="false"
                (click)="onClickPreview('session', session)"
              >
              </nb-user>
            </div>
            <!-- <div class="col-md-2">
              <nb-actions [size]="small">
                <nb-action class="items-list-action" icon="archive-outline" status="info"
                  (click)="onClickExportToPDF('session', session)" nbTooltip="Export to PDF (available soon)"
                  nbTooltipPlacement="top" nbTooltipStatus="info"></nb-action>
              </nb-actions>
            </div> -->
          </nb-list-item>
        </nb-list>
      </div>
    </div>

    <ng-template #loading>
      <client-page-loading></client-page-loading>
    </ng-template>
  </nb-card-body>
</nb-card>

<ng-template #loading>
  <admin-page-loading></admin-page-loading>
</ng-template>
