@import 'nebular/themes';
@import 'vars/index';

img.logo {
  height: 60px;
  cursor: pointer;
}

:host {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: inline-flex;
    align-items: center;
  }
}

.title {
  margin-top: 13px;
  margin-left: 40px;
  font-size: 2rem;
  font-weight: bold;
  color: $col-yellow;
}

// nb-icon {
//   transition: color 0.5s ease-out;

//   &:hover {
//     color: $col-purple;
//   }

//   font-size: 40px;
// }

// .icon {
//   position: absolute;
//   right: 0;
//   height: 30px;
//   margin-right: 50px;
//   font-weight: $font-size-small;
//   color: $col-purple;
// }
