<div class="left">
  <img
    class="logo"
    src="assets/desic-logo.png"
    title="{{ logoLegend }}"
    alt="{{ logoLegend }}"
    (click)="goHome()"
  />
  <h1 class="title">{{ title }}</h1>
</div>
<admin-peer-initialize></admin-peer-initialize>

<span class="form-inline">
  <div>
    <button nbButton outline shape="round" (click)="logout()">
      <nb-icon icon="log-out-outline"></nb-icon>
    </button>
  </div>
  <!-- <div class="icon">
    <a [routerLink]="['/auth/logout']">
      <nb-icon
        icon="log-out-outline"
        [options]="{ animation: { type: 'zoom' } }"
        nbTooltip="Log Out"
        nbTooltipPlacement="right"
        nbTooltipStatus="warning"
      >
      </nb-icon>
    </a>
  </div> -->
</span>
