<div *ngIf="examination$ | async as examination; else loading">
  <nb-icon
    icon="arrow-back-outline"
    [options]="{ animation: { type: 'zoom' } }"
    (click)="onClickBack()"
  ></nb-icon>

  <!--begin::Card-->
  <nb-card>
    <!--begin::Card Header-->
    <nb-card-header>
      <h6>Examination (ID: {{ examination.id }})</h6>
    </nb-card-header>
    <!--end::Card Header-->

    <!--begin::Card Body-->
    <nb-card-body class="container">
      <div #contentToConvert>
        <br />
        <div class="row">
          <div class="col-md-6 offset-md-6">
            <h6 class="col-md-3">Beneficiary</h6>
            <p>{{ examination.beneficiary.name }}</p>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-6">
            <h6 class="col-md-3">Title</h6>
            <p>{{ examination.title }}</p>
          </div>
          <div class="col-md-6">
            <h6 class="col-md-3">Keywords</h6>
            <p>{{ examination.keywords }}</p>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-6">
            <h6 class="col-md-3">Category</h6>
            <p>{{ examination.category }}</p>
          </div>
          <div class="col-md-6">
            <h6 class="col-md-3">Date</h6>
            <p>{{ examination.examinationDate | date }}</p>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-12">
            <h6 class="col-md-3">Description</h6>
            <p>{{ examination.description }}</p>
          </div>
        </div>
      </div>

      <hr />

      <!--begin::Preview Actions-->
      <div class="preview-actions">
        <button
          type="button"
          class="button-save col-md-3 offset-md-9 mb-2"
          nbButton
          fullWidth
          outline
          status="success"
          (click)="onClickEdit(examination.id)"
          (keyup.enter)="onClickEdit(examination.id)"
        >
          Edit
        </button>
        <pdf-download [contentToConvert]="contentToConvert"></pdf-download>
        <button
          type="button"
          class="button-delete col-md-3 offset-md-9"
          nbButton
          fullWidth
          outline
          status="danger"
          (click)="onClickDelete(examination.title, examination.id)"
        >
          Delete
        </button>
        <!-- <button type="button" class="button-delete col-md-3 offset-md-9" nbButton fullWidth outline status="danger"
          (click)="onExportToPDF(examination.id)" disabled nbTooltip="Export to PDF will be available soon"
          nbTooltipPlacement="bottom" nbTooltipStatus="warning">
          Export To PDF
        </button> -->
      </div>
      <!--end::Preview Actions-->
    </nb-card-body>
    <!--end::Card Body-->
  </nb-card>
  <!--end::Card-->
</div>

<ng-template #loading>
  <admin-page-loading></admin-page-loading>
</ng-template>

<!--begin::Delete Dialog-->
<ng-template class="dialog" #delete_dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="dialog-title"
      >Are you sure you want to delete Incident {{ data.slug }}?</nb-card-header
    >
    <nb-card-footer class="dialog-actions container row">
      <div class="col-md">
        <button
          type="button"
          class="dialog-button button-dismiss mb-2"
          nbButton
          fullWidth
          outline
          status="warning"
          (click)="ref.close(false)"
        >
          Cancel
        </button>
      </div>
      <div class="col-md">
        <button
          type="button"
          class="dialog-button button-delete"
          nbButton
          fullWidth
          outline
          status="danger"
          (click)="ref.close(true)"
        >
          Delete
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
<!--end::Delete Dialog-->

<!--begin::Response Dialog-->
<ng-template class="dialog" #response_dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="dialog-title">{{ data.title }}</nb-card-header>
    <nb-card-body class="dialog-content">
      {{ data.message }}
    </nb-card-body>
    <nb-card-footer class="dialog-actions container justify-content-center row">
      <div class="col-md-5">
        <button
          type="button"
          class="dialog-button button-close"
          nbButton
          fullWidth
          outline
          status="primary"
          (click)="ref.close()"
        >
          OK
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
<!--end::Response Dialog-->
