<!-- <nb-card>
  <nb-card-header> </nb-card-header>
  <nb-card-body class="container"> -->
<form [formGroup]="inviteForm" class="form">
  <nb-form-field>
    <input
      type="text"
      nbInput
      placeholder="Connection ID"
      formControlName="connectionId"
    />
    <button nbSuffix nbButton status="success" (click)="onFormSubmit()">
      <nb-icon icon="person-add-outline" pack="eva"> </nb-icon>
    </button>
  </nb-form-field>
</form>
<!-- </nb-card-body>
</nb-card> -->

<!-- <nb-card>
  <nb-card-header> </nb-card-header>
  <nb-card-body class="container">
    <form [formGroup]="inviteForm" class="form">
      <div class="form-group form-inline">
        <label for="connectionId" class="col-md-2 mr-md-2">Connection ID</label>
        <input type="text" id="connectionId" class="form-control col-md-4 offset-md-1 mr-md-2" nbInput fullWidth
          placeholder="Connection ID" formControlName="connectionId" />
        <span *ngIf="isControlHasError('connectionId', 'required')" class="error text-danger">connectionId is
          required</span>
      </div>

      <hr />
      <div class="form-actions">
        <button type="button" class="button-invite col-md-3 offset-md-9" nbButton fullWidth outline status="success"
          (click)="onFormSubmit()" (keyup.enter)="onFormSubmit()">
          Invite
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card> -->

<!-- <ng-template class="dialog" #delete_dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="dialog-title">Are you sure you want to delete Strand {{ data.slug }} and all its
      Substrands?
    </nb-card-header>
    <nb-card-footer class="dialog-actions container row">
      <div class="col-md">
        <button type="button" class="dialog-button button-dismiss mb-2" nbButton fullWidth outline status="warning"
          (click)="ref.close(false)">
          Cancel
        </button>
      </div>
      <div class="col-md">
        <button type="button" class="dialog-button button-delete" nbButton fullWidth outline status="danger"
          (click)="ref.close(true)">
          Delete
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template> -->

<ng-template class="dialog" #response_dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="dialog-title">{{ data.title }}</nb-card-header>
    <nb-card-body class="dialog-content">
      {{ data.message }}
    </nb-card-body>
    <nb-card-footer class="dialog-actions container justify-content-center row">
      <div class="col-md-5">
        <button
          type="button"
          class="dialog-button button-close"
          nbButton
          fullWidth
          outline
          status="primary"
          (click)="ref.close()"
        >
          OK
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
