<div *ngIf="patching; else loading">
  <div *ngIf="userID">
    <nb-icon
      icon="arrow-back-outline"
      [options]="{ animation: { type: 'zoom' } }"
      (click)="onClickBack(userID)"
    >
    </nb-icon>
  </div>

  <nb-card>
    <nb-card-header>
      <h6>Update Organization</h6>
    </nb-card-header>

    <nb-card-body class="container">
      <form [formGroup]="organizationForm" class="form">
        <div class="row">
          <div class="col-md-6">
            <!--begin:Form Group "Name"-->
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                id="name"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Fullname"
                formControlName="name"
              />
              <span
                *ngIf="isControlHasError('name', 'required')"
                class="error text-danger"
                >Name is required</span
              >
            </div>
            <!--end:Form Group "Name"-->
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-md-6">
            <!--begin::Form Group "Description"-->
            <div class="form-group">
              <label for="description">About Us</label>
              <textarea
                id="description"
                rows="10"
                class="form-control"
                nbInput
                fullWidth
                placeholder="About Us"
                formControlName="description"
              >
              </textarea>
            </div>
            <!--end::Form Group "Description"-->
          </div>
          <div class="col-md-6">
            <!--begin::Form Group "Description 2"-->
            <div class="form-group">
              <label for="description_2">Our Values</label>
              <textarea
                id="description_2"
                rows="10"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Our Values"
                formControlName="description_2"
              >
              </textarea>
            </div>
            <!--end::Form Group "Description 2"-->
          </div>
        </div>

        <br />
        <hr />
        <br />

        <div class="row">
          <div class="col-md-8">
            <!--begin:Form Group "Street"-->
            <div class="form-group">
              <label for="street">Street</label>
              <input
                type="text"
                id="street"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Street"
                formControlName="street"
              />
              <span
                *ngIf="isControlHasError('street', 'required')"
                class="error text-danger"
                >Street is required</span
              >
            </div>
            <!--end:Form Group "Street"-->
          </div>
          <div class="col-md-4">
            <!--begin:Form Group "Postcode"-->
            <div class="form-group">
              <label for="postcode">Postcode</label>
              <input
                type="text"
                id="postcode"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Postcode"
                formControlName="postcode"
              />
              <span
                *ngIf="isControlHasError('postcode', 'required')"
                class="error text-danger"
                >Postcode is required</span
              >
            </div>
            <!--end:Form Group "Postcode"-->
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-md-6">
            <!--begin:Form Group "City"-->
            <div class="form-group">
              <label for="city">City</label>
              <input
                type="text"
                id="city"
                class="form-control"
                nbInput
                fullWidth
                placeholder="City"
                formControlName="city"
              />
              <span
                *ngIf="isControlHasError('city', 'required')"
                class="error text-danger"
                >City is required</span
              >
            </div>
            <!--end:Form Group "City"-->
          </div>
        </div>

        <br />
        <hr />
        <br />

        <div class="row">
          <div class="col-md-6">
            <!--begin:Form Group "Email"-->
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Email"
                formControlName="email"
              />
              <span
                *ngIf="isControlHasError('email', 'required')"
                class="error text-danger"
                >Email is required</span
              >
              <span
                *ngIf="isControlHasError('email', 'email')"
                class="error text-danger"
                >Has to be an email
              </span>
            </div>
            <!--end:Form Group "Email"-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <!--begin:Form Group "Phone"-->
            <div class="form-group">
              <label for="phone">Phone</label>
              <input
                type="text"
                id="phone"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Phone"
                formControlName="phone"
              />
              <span
                *ngIf="isControlHasError('phone', 'required')"
                class="error text-danger"
                >Phone is required</span
              >
            </div>
            <!--end:Form Group "Phone"-->
          </div>
          <div class="col-md-6">
            <!--begin:Form Group "Phone 2"-->
            <div class="form-group">
              <label for="phone">Phone 2</label>
              <input
                type="text"
                id="phone"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Phone"
                formControlName="phone"
              />
            </div>
            <!--end:Form Group "Phone 2"-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <!--begin:Form Group "Phone 2"-->
            <div class="form-group">
              <label for="fax">Fax</label>
              <input
                type="text"
                id="fax"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Fax"
                formControlName="fax"
              />
            </div>
            <!--end:Form Group "Phone 2"-->
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-md-6">
            <!--begin::Form Group "Contacts"-->
            <div class="form-group">
              <div formArrayName="social">
                <div *ngFor="let contact of social.controls; index as i">
                  <nb-form-field>
                    <nb-icon
                      nbPrefix
                      icon="{{ contactsList[i].icon }}"
                      pack="eva"
                      nbTooltip="{{ contactsList[i].slug }}"
                      nbTooltipPlacement="top"
                      nbTooltipStatus="warning"
                    >
                    </nb-icon>

                    <!-- <nb-icon nbPrefix icon="contactsList[i].icon" pack="eva"></nb-icon> -->
                    <input
                      type="text"
                      class="form-control"
                      nbInput
                      fullWidth
                      [formControlName]="i"
                      placeholder=""
                    />
                  </nb-form-field>
                </div>
              </div>
            </div>
            <!--end::Form Group "Contacts"-->
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <app-image-upload
                *ngIf="patching"
                [parentForm]="organizationForm"
                previousURL="{{ initialImage }}"
              >
              </app-image-upload>
            </div>
          </div>
        </div>

        <hr />

        <div class="form-actions">
          <button
            type="button"
            class="button-invite col-md-3 offset-md-9"
            nbButton
            fullWidth
            outline
            status="success"
            (click)="onFormSubmit()"
            (keyup.enter)="onFormSubmit()"
          >
            <span>Update</span>
          </button>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>

<ng-template #loading>
  <admin-page-loading></admin-page-loading>
</ng-template>

<ng-template class="dialog" #response_dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="dialog-title">{{ data.title }}</nb-card-header>
    <nb-card-body class="dialog-content">
      {{ data.message }}
    </nb-card-body>
    <nb-card-footer class="dialog-actions container row">
      <div class="col-md">
        <button
          type="button"
          class="dialog-button button-close"
          nbButton
          fullWidth
          outline
          status="primary"
          (click)="ref.close()"
        >
          OK
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
