<div *ngIf="organization$ | async as organization; else loading">
  <div *ngIf="organization">
    <nb-card size="large">
      <!-- Container (About Section) -->
      <div id="about" class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <img
              class="logo"
              src="{{ organization.image_url }}"
              title="{{ organization.name }}"
              alt="{{ organization.name }} Logo"
            />
          </div>
          <div class="col-sm-8">
            <h2>About Us</h2>
            <br />
            <p>{{ organization.description }}</p>
            <br />
          </div>
        </div>
      </div>

      <!-- Container (Our Values) -->
      <div class="container-fluid bg-grey">
        <div class="row">
          <div class="col-sm-8">
            <h2>Our Values</h2>
            <br />
            <p>{{ organization.description_2 }}</p>
          </div>
          <div class="col-sm-4 contact">
            <p>
              <nb-icon icon="pin-outline"></nb-icon>
              {{ organization.address.street }},
              {{ organization.address.city }}
              {{ organization.address.postcode }}
            </p>
            <p>
              <nb-icon icon="phone-outline"></nb-icon>
              {{ organization.phone }}
              <span *ngIf="organization.phone2"
                >, {{ organization.phone2 }}
              </span>
            </p>
            <p *ngIf="organization.fax">
              <nb-icon icon="printer-outline"></nb-icon>
              {{ organization.fax }}
            </p>
            <p>
              <nb-icon icon="email-outline"></nb-icon>
              {{ organization.email }}
            </p>
            <br />
            <div *ngIf="contactsList">
              <div
                class="social"
                *ngFor="
                  let contact of organization.social
                    | contacts_pipe: contactsList
                "
              >
                <a
                  *ngIf="contact.value"
                  href="{{ contact.value }}"
                  target="_blank"
                >
                  <nb-icon icon="{{ contact.icon }}"></nb-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nb-card>
  </div>
</div>

<ng-template #loading>
  <client-page-loading></client-page-loading>
</ng-template>
