<div class="left">
  <img
    class="logo"
    src="assets/desic-logo.png"
    title="{{ logoLegend }}"
    alt="{{ logoLegend }}"
    (click)="goHome()"
  />
  <h1 class="title">{{ title }}</h1>
</div>

<span class="form-inline">
  <client-personal-menu *ngIf="isLoggedIn()"></client-personal-menu>
  <div *ngIf="!isLoggedIn()">
    <button nbButton outline shape="round" status="" (click)="open()">
      <nb-icon icon="log-in-outline"></nb-icon>
    </button>
  </div>
</span>

<!-- <div class="icon">
    <a [routerLink]="['/auth/logout']">
      <nb-icon
        icon="log-in-outline"
        [options]="{ animation: { type: 'zoom' } }"
        nbTooltip="Log In"
        nbTooltipPlacement="right"
        nbTooltipStatus="warning"
      >
      </nb-icon>
    </a>
  </div> -->
