<div *ngIf="patching; else loading">
  <div *ngIf="userID">
    <nb-icon
      icon="arrow-back-outline"
      [options]="{ animation: { type: 'zoom' } }"
      (click)="onClickBack(userID)"
    >
    </nb-icon>
  </div>

  <nb-card>
    <nb-card-header>
      <h6 *ngIf="userID">Update Administrator</h6>
      <h6 *ngIf="!userID">Invite Administrator</h6>
    </nb-card-header>
    <nb-card-body class="container">
      <form [formGroup]="userForm" class="form">
        <div class="row">
          <div class="col-md-6">
            <!--begin:Form Group "Name"-->
            <div class="form-group">
              <label for="name">Fullname</label>
              <input
                type="text"
                id="email"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Fullname"
                formControlName="name"
              />
              <span
                *ngIf="isControlHasError('name', 'required')"
                class="error text-danger"
                >Name is required</span
              >
            </div>
            <!--end:Form Group "Name"-->
          </div>
          <div class="col-md-6">
            <!--begin:Form Group "Email"-->
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Email"
                formControlName="email"
              />
              <span
                *ngIf="isControlHasError('email', 'required')"
                class="error text-danger"
                >Email is required</span
              >
              <span
                *ngIf="isControlHasError('email', 'email')"
                class="error text-danger"
                >Has to be an email
              </span>
            </div>
            <!--end:Form Group "Email"-->
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-md-6">
            <!--begin::Form Group "Category"-->
            <div class="form-group">
              <label for="category">Category</label>
              <nb-select
                id="category"
                class="form-control"
                fullWidth
                placeholder="Select Category"
                formControlName="category"
              >
                <nb-option
                  *ngFor="let category of categories"
                  value="{{ category.value }}"
                >
                  {{ category.title }}</nb-option
                >
              </nb-select>
              <span
                *ngIf="isControlHasError('category', 'required')"
                class="error text-danger"
                >Administrator's Category is required</span
              >
            </div>
            <!--end::Form Group "Category"-->
          </div>
          <div class="col-md-6">
            <!--begin::Form Group "DateOfBirth"-->
            <div class="form-group">
              <label for="date">Date of Birth</label>
              <input
                id="date"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Pick Date"
                [nbDatepicker]="formpicker"
                formControlName="dateOfBirth"
              />
              <nb-datepicker #formpicker></nb-datepicker>
              <span
                *ngIf="isControlHasError('dateOfBirth', 'required')"
                class="error text-danger"
                >Date of Birth is required</span
              >
            </div>
            <!--end::Form Group "DateOfBirth"-->
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-md-6">
            <!--begin:Form Group "Phone"-->
            <div class="form-group">
              <label for="phone">Phone</label>
              <input
                type="text"
                id="phone"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Phone"
                formControlName="phone"
              />
              <span
                *ngIf="isControlHasError('phone', 'required')"
                class="error text-danger"
                >Phone is required</span
              >
            </div>
            <!--end:Form Group "Phone"-->
          </div>
        </div>

        <hr />

        <div class="form-actions">
          <button
            type="button"
            class="button-invite col-md-3 offset-md-9"
            nbButton
            fullWidth
            outline
            status="success"
            (click)="onFormSubmit()"
            (keyup.enter)="onFormSubmit()"
          >
            <span *ngIf="userID">Update</span>
            <span *ngIf="!userID">Invite</span>
          </button>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>

<ng-template #loading>
  <admin-page-loading></admin-page-loading>
</ng-template>

<ng-template class="dialog" #response_dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="dialog-title">{{ data.title }}</nb-card-header>
    <nb-card-body class="dialog-content">
      {{ data.message }}
    </nb-card-body>
    <nb-card-footer class="dialog-actions container row">
      <div class="col-md">
        <button
          type="button"
          class="dialog-button button-close"
          nbButton
          fullWidth
          outline
          status="primary"
          (click)="ref.close()"
        >
          OK
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
