@import '../../../app.component.scss';
// .dialog-actions {
//   margin: 0;
// }

// .form-control,
// .button-remove {
//   margin: 0 0.5%;
// }

// .button-insert {
//   margin: 0 0.5%;
// }

// .form {
//   .insert-container {
//     display: inline-block;
//     width: 100%;

//     .button-insert {
//       display: block;
//       background-color: rgb(10, 10, 175);
//       color: white;
//       float: right;
//       //  margin: 10px;
//       width: 20%;

//       &:hover {
//         background-color: rgb(10, 10, 175, 0.5);
//       }
//     }
//   }
// }

// .form-group {

//   // nb-select,
//   // input {
//   //   width: 23%;
//   // }

//   // .button-remove {
//   //   color: white;
//   //   background-color: red;
//   //   width: 20%;
//   //   float: right;

//   //   &:hover {
//   //     background-color: rgb(255, 0, 0, 0.5);
//   //   }
//   // }
// }
