<div *ngIf="patching; else loading">
  <nb-card>
    <nb-card-header>
      <h6>Update {{ type | titlecase }}'s Categories</h6>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="categoriesForm" class="form">
        <div
          formArrayName="categories"
          *ngFor="let item of categories.controls; let i = index"
          class="container justify-content-start"
        >
          <div [formGroupName]="i" class="form-group form-row">
            <div class="col-md-5">
              <input
                type="text"
                nbInput
                fullWidth
                status="basic"
                class="form-control"
                placeholder="Name"
                formControlName="name"
              />
            </div>

            <div class="col-md-4">
              <input
                type="text"
                nbInput
                fullWidth
                status="basic"
                placeholder="Slug"
                class="form-control"
                formControlName="slug"
              />
            </div>

            <div class="col-md-3">
              <button
                type="button"
                class="button-remove"
                nbButton
                fullWidth
                outline
                status="danger"
                (click)="removeItem(i)"
              >
                Remove
              </button>
            </div>
          </div>
        </div>

        <div class="container justify-content-start">
          <div class="form-row">
            <div class="col-md-3 offset-md-9">
              <button
                type="button"
                class="button-insert"
                nbButton
                fullWidth
                outline
                status="primary"
                (click)="insertItem()"
              >
                Insert
              </button>
            </div>
          </div>
        </div>

        <span
          class="error text-danger small"
          *ngIf="isControlHasError('categories', 'requireValuesToBeUnique')"
        >
          Category's Name is not allowed to be the same
        </span>
        <span
          class="error text-danger small"
          *ngIf="isControlHasError('categories', 'requireInputToBeFilled')"
        >
          Required at least one Category
        </span>

        <hr />
        <div class="form-actions row">
          <button
            type="button"
            class="button-save col-md-3 offset-md-9"
            nbButton
            fullWidth
            outline
            status="success"
            (click)="onFormSubmit()"
            (keyup.enter)="onFormSubmit()"
          >
            Save
          </button>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>

<ng-template #loading>
  <admin-page-loading></admin-page-loading>
</ng-template>

<ng-template class="dialog" #confirm_dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="dialog-title">
      Are you sure you want to update categories list?
    </nb-card-header>
    <nb-card-footer class="dialog-actions container row">
      <div class="col-md">
        <button
          type="button"
          class="dialog-button button-dismiss"
          nbButton
          fullWidth
          outline
          status="warning"
          (click)="ref.close(false)"
        >
          Cancel
        </button>
      </div>
      <div class="col-md">
        <button
          type="button"
          class="dialog-button button-save"
          nbButton
          fullWidth
          outline
          status="success"
          (click)="ref.close(true)"
        >
          Update
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template class="dialog" #response_dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="dialog-title">
      {{ data.title }}
    </nb-card-header>
    <nb-card-body class="dialog-content">
      {{ data.message }}
    </nb-card-body>
    <nb-card-footer class="dialog-actions container row">
      <div class="col-md">
        <button
          type="button"
          class="dialog-button button-close"
          nbButton
          fullWidth
          outline
          status="primary"
          (click)="ref.close()"
        >
          OK
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
