<nb-chat
  [title]="getConnectionTitle(conn.open)"
  [status]="getConnectionStatus(conn.open)"
>
  <nb-chat-message
    *ngFor="let msg of returnMessages()"
    [type]="msg.type"
    [message]="msg.text"
    [reply]="msg.reply"
    [sender]="msg.user.name"
    [date]="msg.date"
    dateFormat="shortTime"
    [files]="msg.files"
    [quote]="msg.quote"
    [latitude]="msg.latitude"
    [longitude]="msg.longitude"
    [avatar]="msg.user.avatar"
  >
  </nb-chat-message>

  <nb-chat-form (send)="onFormSubmit($event)" [dropFiles]="false">
  </nb-chat-form>
</nb-chat>

<!-- <nb-chat *ngIf="sessions&&connection" title="Nebular Conversational UI">
  <nb-chat-message *ngFor="let message of returnMessages()"
                   [type]="text"
                   [message]="message.text"
                   [reply]="null"
                   [sender]="message.who"
                   [date]="null"
                   [files]="null"
                   [quote]="null"
                   [latitude]="null"
                   [longitude]="null"
                   [avatar]="null"></nb-chat-message>

<nb-chat-form (send)="onFormSubmit($event)" [dropFiles]="true">
</nb-chat-form>
</nb-chat> -->

<!-- <nb-card *ngIf="!canConnect">
  <nb-card-header>
    User seems to be offline
  </nb-card-header>
</nb-card> -->

<!-- <div> -->
<!-- <nb-card *ngIf="sessions && desicConnection">
    <nb-card-header>
      Messages with {{ desicConnection.receiver.name }}
    </nb-card-header>
    <nb-card-body class="container">
      <div *ngFor="let message of returnMessages()">
        <div class="row" [style]="returnFloat(message)">
          <p>{{ message.text }}</p>
        </div>
        <br />
      </div>
    </nb-card-body>
  </nb-card> -->

<!-- <nb-card>
    <nb-card-header> </nb-card-header>
    <nb-card-body class="container">
      <form [formGroup]="sendForm" class="form">
        <div class="row">
          <div class="form-group col-md-6 offset-md-1">
            <input type="text" id="text" class="form-control" nbInput fullWidth placeholder="Message"
              formControlName="text" />
          </div>
          <div class="form-actions col-md-4">
            <button type="button" class="button-invite" nbButton fullWidth outline status="success"
              (click)="onFormSubmit()" (keyup.enter)="onFormSubmit()">
              Send
            </button>
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card> -->
<!-- </div> -->
