@import '../../../app.component.scss';

// ::ng-deep nb-layout-column {
//     justify-content: center;
//     display: flex;
//   }
//   nb-chat {
//     width: 500px;
//   }
nb-chat {
  height: 95%;
}
