<div *ngIf="item$ | async as item; else loading">
  <nb-icon
    class="button-back"
    icon="arrow-back-outline"
    [options]="{ animation: { type: 'zoom' } }"
    (click)="onClickBack()"
  ></nb-icon>

  <!--begin::Card-->
  <nb-card>
    <!--begin::Card Header-->
    <nb-card-header>
      <h6>{{ type | uppercase }} (ID: {{ item.id }})</h6>
    </nb-card-header>
    <!--end::Card Header-->

    <!--begin::Card Body-->
    <nb-card-body class="container">
      <div #contentToConvert>
        <br />
        <div class="row">
          <div class="col-md-6 offset-md-6">
            <h6 class="col-md-3">Beneficiary</h6>
            <p>{{ item.beneficiary.name }}</p>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-6">
            <h6 class="col-md-3">Title</h6>
            <p>{{ item.title }}</p>
          </div>
          <div class="col-md-6">
            <h6 class="col-md-3">Keywords</h6>
            <p>{{ item.keywords }}</p>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-6">
            <h6 class="col-md-3">Category</h6>
            <p>{{ item.category }}</p>
          </div>
          <div class="col-md-6">
            <h6 class="col-md-3">Date</h6>
            <p *ngIf="item.incidentDate">{{ item.incidentDate | date }}</p>
            <p *ngIf="item.sessionDate">{{ item.sessionDate | date }}</p>
            <p *ngIf="item.examinationDate">
              {{ item.examinationDate | date }}
            </p>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-12">
            <h6 class="col-md-3">Description</h6>
            <p>{{ item.description }}</p>
          </div>
        </div>
      </div>
    </nb-card-body>
    <!--end::Card Body-->

    <hr />

    <!--begin::Card Footer-->
    <nb-card-footer>
      <!--begin::Preview Actions-->
      <div class="preview-actions" *ngIf="canExport">
        <pdf-download [contentToConvert]="contentToConvert"></pdf-download>
        <!--  <button type="button" class="button-delete col-md-3 offset-md-9" nbButton fullWidth outline status="danger"
          (click)="onClickExport(contentToConvert)" nbTooltip="Export to PDF will be available soon"
          nbTooltipPlacement="bottom" nbTooltipStatus="warning">
          Export To PDF
        </button> -->
      </div>
      <!--end::Preview Actions-->
    </nb-card-footer>
    <!--end::Card Footer-->
  </nb-card>
  <!--end::Card-->
</div>

<ng-template #loading>
  <client-page-loading></client-page-loading>
</ng-template>

<!--begin::Delete Dialog-->
<ng-template class="dialog" #delete_dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="dialog-title"
      >Are you sure you want to delete Incident {{ data.slug }}?</nb-card-header
    >
    <nb-card-footer class="dialog-actions container row">
      <div class="col-md">
        <button
          type="button"
          class="dialog-button button-dismiss mb-2"
          nbButton
          fullWidth
          outline
          status="warning"
          (click)="ref.close(false)"
        >
          Cancel
        </button>
      </div>
      <div class="col-md">
        <button
          type="button"
          class="dialog-button button-delete"
          nbButton
          fullWidth
          outline
          status="danger"
          (click)="ref.close(true)"
        >
          Delete
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
<!--end::Delete Dialog-->

<!--begin::Response Dialog-->
<ng-template class="dialog" #response_dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="dialog-title">{{ data.title }}</nb-card-header>
    <nb-card-body class="dialog-content">
      {{ data.message }}
    </nb-card-body>
    <nb-card-footer class="dialog-actions container justify-content-center row">
      <div class="col-md-5">
        <button
          type="button"
          class="dialog-button button-close"
          nbButton
          fullWidth
          outline
          status="primary"
          (click)="ref.close()"
        >
          OK
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
<!--end::Response Dialog-->
