// Strands colors
// $col-literacy: #fcc349;
// $col-art: #f6913d;
// $col-information: #d92368;
$col-psycho: #eb4543;
// $col-media: #70c8c3;
// $col-skills: #ae2570;
// $col-community: #20a158;

// color taken from ~~
$col-purple: #8c158f;
$col-black: #2b2c28;
$col-red: #e41b22;
$col-yellow: #ffc324;

// deSIC Colors
// #262935
// #f8f9f9
// #4464ae
// #454a5e
// #1b1f2b
//  $col-purple: #262935;
//  $col-black: #f8f9f9;
//  $col-red: #4464ae;
//  $col-yellow: #1b1f2b;

$col-grey-light: #f4f4f4;
$col-grey: #666;
