<div *ngIf="users$ | async as users; else loading">
  <div *ngIf="users.length; else noItems">
    <nb-card size="large">
      <nb-list class="users-list">
        <nb-list-item *ngFor="let user of users">
          <div class="col-md-9">
            <nb-user
              class="user-card"
              [name]="user.name"
              [title]="user.category | user_pipe: 'category'"
              color="#cccccc"
              (click)="onClickPreview(user)"
            >
            </nb-user>
          </div>
          <div class="col-md-3">
            <nb-actions [size]="small">
              <nb-action
                class="users-list-action"
                icon="edit-outline"
                iconStatus="warning"
                (click)="onClickEdit(user)"
                nbTooltip="Edit"
                nbTooltipPlacement="top"
                nbTooltipStatus="warning"
              ></nb-action>
              <!-- <nb-action class="users-list-action" icon="archive-outline" status="info"
                (click)="onClickExportToPDF(user)" nbTooltip="Export to PDF (available soon)" nbTooltipPlacement="top"
                nbTooltipStatus="info"></nb-action> -->
            </nb-actions>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>

<ng-template #noItems>
  <admin-page-no_content type="Administrator"></admin-page-no_content>
</ng-template>
<ng-template #loading>
  <admin-page-loading></admin-page-loading>
</ng-template>
